:root {
    /* --primary-color: #f8f8f8; */
    --primary-color-hover: #fbff02;
    --primary-color: #333;
    --primary-dark: #000;


    --secondary-color: #ff9100;
    --secondary-color-hover: #f8f87b;
    --light-color: #ff9100;
    --lighter-color: #ffc476;
    
 
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "PT Sans", sans-serif;
    background-color: var(--primary-dark);
    margin: 0;
}

/* Utilities */

.link {
    text-decoration: none;
}

.link--unvisited {
    color: var(--secondary-color);
}

.link:visited {
    color: var(--secondary-color-hover);
}

.link:hover {
    color: var(--primary-color-hover);
}

.link--current {
    border-bottom: var(--secondary-color) 3px solid;
}

.link--bgd {
    background: var(--primary-dark);
    padding: 0.2em;
}

.link--bgd:hover {
    background: rgb(126, 122, 122);
}

.link__showcase {
    background: #333;
}

.text--inline {
    display: inline;
}

.icon {
    width: 1.7rem;
    height: 4vh;
}

.icon--flex {
    flex-shrink: 0;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list--flex {
    display: flex;
    gap: 2.5rem;

}

.container__heading {
    margin: auto;
}

.list--center {
    align-items: center;
    align-content: center;
    justify-content: center;
}

.list--grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.font--small {
    font-size: 0.7rem;
}

.btn {
    background: #333;
}

.h1 {
    padding: 2rem 0;
    font-size: 2rem;
}

.h2 {
    padding: 1.5rem 0;
}

/* Navigation */

.nav {
    height: 70px;
    width: 100%;
    background-color: var(--primary-dark);
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav--flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav__elem {
    font-size: 1.25em;
}

.nav__logo {
    padding: 0.25em 0;
}


/* Showcase */

.showcase {
    position: relative;
    width: 100%;
    height: 100vh;
}

.showcase__video {
    position: absolute;
    max-width: 100%;
    height: auto;
    z-index: -1;
}

.showcase__text {
    position: absolute;
    top: 25vh;
    left: 3rem;
    right: 6%;
    text-align: left;
    color: var(--primary-dark);
    z-index: -1;
}

/* Cards */

.card {
    background: var(--primary-color);
    padding: 5rem;
    position: static;
    
}

.card--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.card__item {
    background: var(--light-color);
    border-radius: 5em;
    align-items: center;
    justify-content: center;
    text-align: center;
    float: left;
    height: 68vh;
}

.card__item:hover {
    background-color: var(--secondary-color-hover);
}

.card__text {
    /* float: left; */
	text-align: center;
    padding: 2rem;
    color: var(--primary-dark);
}

.card__image {
    max-width: 200px;
    height: 30vh;
}


/* Footer */

.footer {
    color: #f8fbff;
    background: var(--primary-dark);
    position: relative;
}

.footer__mini {
    padding-top: 1rem;
}

.footer__mini--flex {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.footer__main {
    text-align: center;
}

.footer__copyright {
    margin: 1rem 0;
    text-align: center;
}




/* cotainer */
.container {
    color: #f8fbff;
    background: var(--primary-color);
    padding: 1.5rem;
    display: flex;
}

.row {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.container__heading {
    padding: 2rem 2rem;
}

.container--grid {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
    justify-content: center;
}

.container--flex {
    display: flex;
    gap: 5rem;
    padding-left: 0;
    flex-wrap: wrap;
    
}

.container__image {
    width: 350px;
}



.statistics {
    text-align: center;
    background: var(--primary-color);
    color: #fff;
    padding: 2rem;
}


/* Table */
.table--grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
    justify-content: center;
}

.table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
}

.table thead th{
    text-transform: uppercase;
    padding: 0.8rem;
}

.table tbody tr td{
    color: #fff;
    padding: 0.8rem 1.2rem;
    text-align: center;
}

.table tbody tr:nth-child(odd){
    background: #000;
}

.table {
    overflow-x: auto;
}

.table--grid {
    max-width: 95vw;
}

.table--position {
    max-width: 95vw;
}

/* Carbon */

.carbon {
    width: 100%;    
    padding: 0 3rem;
    color: #f8fbff;
}

.carbon__video {
    margin: auto;
    max-width: 95vw;
    z-index: -1;
}

/* About */

.contact {
    background: var(--primary-color);
    color: #fff;
    padding: 2rem;
}

.contact--flex {
    display: flex;
    gap: 10rem;
}

.contact--right {
    background-image: url('../images/story-.jpg') ;
    min-height: 100%;
    color: #fbff02;
    padding: 0.2em;
}

.team {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    color: #f8fbff;
    background-color: #333;
    padding: 3rem;
}

.team__item {
    text-align: center;
    flex-shrink: 0;
}

.team__logo {
    width: 100%;
    height: 25vh;
    flex-shrink: 0;
}

/* Contact */

.contact__item {
    display: flex;
    gap: 2rem;

}
.contact__icon {
    width: 4rem;
    height: 7vh;
    flex-shrink: 0;
}

.contact__list {
    background: #999;
}

.alert {
    background: #ff0000;
    color: #fff;
}

.social {
    display: flex;
    gap: 2rem;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.social__icon {
    width: 100%;
    height: 4vh;
    
}

/* Form */

.form__title {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
}

/* Statistics */

.graph__image {
    width: 35rem;
}

.graph--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}


/* Collections */
.collections {
    padding: 3rem 5rem;
}

.logo {
    background: var(--primary-dark);
    padding: 1rem;
    border-radius: 50%;
}

.audio--flex {
    display: flex;
    gap: 2rem;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-basis: 0 0 33.3333%;
}

.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;
}

/* media query */

@media(max-width:1050px){
    .showcase {
        height: 60vh;
    }
    .showcase__text {
        top: 12vh;
    }
    .showcase__h2 {
        display: none;
    }
    .list--flex {
        font-size: 15px;
    }
    .card {
        grid-template-columns: 1fr 1fr 1fr;
        /* max-width: 95vw; */
    }
    .card__item {
        max-width: 30vw;
    }

    .container__table {
        display: block;
    }
    .container__text {
        max-width: 95vw;
    }

    .table {
        display: block;
        margin: auto;
        max-width: 95vw;
    }

    .table--position {
        margin: auto;
        max-width: 90vw;
    }

}


@media(max-width:800px) {
    .container--grid {
        grid-template-columns: 1fr;
    }

    .showcase__video{
        max-width: 95vw;
        margin: auto;
    }
    
    .showcase__text {
        top: 11vh;
    }

    .showcase {
        height: 50vh;
    }

    .showcase__h2 {
        display: none;
    }

    .carbon {
        margin: auto;
    }

    .card {
        padding: 1.2rem;
    }

    .card--grid {
        grid-template-columns: 1fr;
    }

    .card__item {
        margin: 1rem auto;
        max-width: 70vw;
    }

    .card__image {
        max-width: 45vw;
        max-height: 30vh;
    }

    .contact--flex {
        flex-direction: column;
    }
    #contact__form {
        max-width: 30vw;
    }

    .team__item{
        display: none;
    }


    .list--flex {
        font-size: 12px;
    }

    .icon {
        width: 1.5rem;
    }
    
}

@media(max-width:500px) {
    .menu-btn {
        display: block;
    }
    .menu-btn:hover {
        opacity: 0.5;
    }

    .nav__elem {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #5d5b5b;
        width: 45%;
        border-bottom: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
    }

    .nav__elem li {
        padding: 10px;
        font-size: 14px;
    }

    .nav--show {
        transform: translateX(-20px);
    }


    .showcase {
        height: 30vh;
        margin: auto;
        max-width: 95vw;
        align-items: center;
        justify-content: center;

    }

    .showcase__text {
        top: 6.5vh;
        font-size: 0.7rem;
    }

    .showcase__h1 {
        font-size: 1rem;
    }

    .card {
        margin: auto;
        max-width: 95vw;
    }

    .card__item {
        margin: 1rem auto;
        max-width: 65vw;
    }

    .card__image {
        max-width: 50vw;
        max-height: 30vh;
        margin: auto;
    }

    .contact__left{
        max-width: 75vw;
        margin: 0;
        padding: 0;
    }

    .contact--flex .h2{
        display: none;
    }

    .form__name {
        flex-direction: column;
    }

    #contact__form {
        max-width: 70vw;
    }

    .list--flex {
        font-size: 10px;
    }

    .link--bgd {
        display: block;
        max-width: 20vw;
    }

    .icon {
        width: 1.3rem;
    }

    .footer__copyright {
        font-size: 0.7rem;
    }
}